Repository giantswarm/docs, pull requests merged in 2020-03, with the labels that each got.

#395 Review and update Security page on docs.giantswarm
  src/content/basics/security/index.md
Labels: content, help-needed, kind/chore

#402 Review and correct the English for On-Prem architecture on docs.giantswarm
  src/content/basics/onprem-architecture/index.md
Labels: help-needed, kind/chore

#422 Mention gsctl support for using cluster names as identifiers
  .gitignore
  src/content/reference/gsctl/create-keypair.md
  src/content/reference/gsctl/create-kubeconfig.md
  src/content/reference/gsctl/create-nodepool.md
  src/content/reference/gsctl/delete-cluster.md
  src/content/reference/gsctl/delete-nodepool.md
  src/content/reference/gsctl/list-keypairs.md
  src/content/reference/gsctl/list-nodepools.md
  src/content/reference/gsctl/scale-cluster.md
  src/content/reference/gsctl/show-cluster.md
  src/content/reference/gsctl/show-nodepool.md
  src/content/reference/gsctl/update-nodepool.md
  src/content/reference/gsctl/upgrade-cluster.md
Labels: kind/feature

#425 Technical change - Comment ToDos
  src/content/basics/kubernetes-on-giant-swarm/index.md
Labels: content
